name: publish-documentation

on: [push]

jobs:

  # Build documentation and create artifact
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Prepare runner
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qq update \
              && DEBIAN_FRONTEND=noninteractive sudo apt-get -qq --assume-yes install \
                   sbcl texlive texlive-latex-extra librsvg2-bin

      - uses: actions/checkout@v1

      - name: Install quicklisp
        run: |
          wget https://beta.quicklisp.org/quicklisp.lisp
          sbcl --noinform --disable-debugger        \
            --load quicklisp.lisp                   \
            --eval '(quicklisp-quickstart:install)' \
            --quit

      # Until concrete-syntax-tree 0.3, eclector 0.11 and a recent
      # version of spell become available via Quicklisp
      - name: Clone dependencies into local-projects
        run: |
          cd "${HOME}/quicklisp/local-projects"                                             \
            && git clone -b main https://codeberg.org/scymtym/text.editor-buffer          \
            && git clone -b master https://github.com/s-expressionists/concrete-syntax-tree \
            && git clone -b master https://github.com/s-expressionists/eclector             \
            && git clone -b main https://github.com/s-expressionists/spell

      - name: Build documentation
        run: |
          cd documentation
          make
          mkdir -p build build/{pdf,info}
          cp index.html          build/
          cp *.png               build/
          cp incrementalist.html build/
          cp incrementalist.pdf  build/pdf/
          cp incrementalist.info build/info/

      - name: Create artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: documentation/build

  # Deploy to GitHub pages if main branch
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    # Grant GITHUB_TOKEN the permissions required to make a Pages
    # deployment
    permissions:
      pages: write    # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
