name: test

on: [push]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Prepare runner
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qq update \
            && DEBIAN_FRONTEND=noninteractive sudo apt-get -qq --assume-yes install \
                 sbcl

      - uses: actions/checkout@v1

      - name: Install quicklisp
        run: |
          wget https://beta.quicklisp.org/quicklisp.lisp
          sbcl --noinform --disable-debugger        \
            --load quicklisp.lisp                   \
            --eval '(quicklisp-quickstart:install)' \
            --quit

      # Until concrete-syntax-tree 0.3, eclector 0.11 and a recent
      # version of spell become available via Quicklisp
      - name: Clone dependencies into local-projects
        run: |
          cd "${HOME}/quicklisp/local-projects"                                             \
            && git clone -b main https://codeberg.org/scymtym/text.editor-buffer            \
            && git clone -b master https://github.com/s-expressionists/concrete-syntax-tree \
            && git clone -b master https://github.com/s-expressionists/eclector             \
            && git clone -b main https://github.com/s-expressionists/spell

      - name: Run tests
        run: |
          sbcl --noinform --disable-debugger                                                                                                \
            --load "${HOME}/quicklisp/setup.lisp"                                                                                           \
            --eval '(asdf:initialize-source-registry (quote (:source-registry (:directory "'"$(pwd)"'") :ignore-inherited-configuration)))' \
            --eval '(ql:quickload "incrementalist/test")'                                                                                    \
            --eval '(asdf:test-system "incrementalist")'
